
@import url(../vendor/normalize.css);

@import url(../fonts/brawl-stars/brawl-stars-font.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/players/players.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__description/cards__description.css);

@import url(../blocks/footer/footer.css);